mixin foot()
  footer.foot
    .container
      .row
        .foot__item.foot__item--f
          .foot__logo: img(src="img/content/logo.png", alt="image")
        .foot__item.foot__item--s
          .foot__soc
            a(href="#"): img(src="img/general/inst.png", alt="image")
            a(href="#"): img(src="img/general/fc.png", alt="image")
        .foot__item.foot__item--t
          a.foot__police.popup-js(href="#police") Политика конфиденциальности
        .foot__item.foot__item--fr
          a.phone(href="tel:+380996514812") 
            +svg('phone')
            | +38 (099) 651-48-12
          a.phone.foot--mail(href="mailto:info@vrzone.com.ua") 
            +svg('mail')
            | info@vrzone.com.ua
              













































//- 